@font-face {
    font-family: "Poppins-Regular";
    src: local("Poppins-Regular"),
        url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype")
}

@font-face {
    font-family: "Poppins-Medium";
    src: local("Poppins-Medium"),
        url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype")
}

@font-face {
    font-family: "Inter-Regular";
    src: local("Inter-Regular"),
        url("../fonts/Inter/static/Inter-Regular.ttf") format("truetype")
}

@font-face {
    font-family: "Inter-Medium";
    src: local("Inter-Medium"),
      url("../fonts/Inter/static/Inter-Medium.ttf") format("truetype")
  }

.aboutpage {
    position: relative;
    display: grid;
    grid-template-rows: auto;
    /* justify-self: center; */
}

.aboutsec {
    position: relative;
    background-color: #cdeff6;
    /* padding-left: 15vw;
    padding-right: 15vw; */
    /* padding-top: 1vw; */
    width: 100vw;
    height: 40vw;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    place-items: center;
}

.aboutpic {
    width: 70vw;
    top: 1vw;
    height: auto;
    /* justify-self: center; */
    /* place-self: center; */
    position: relative;
}
.teamPic{
    width: 40vw;
}
.whiterect {
    position: relative;
    background-color: #ffffff;
    border-radius: 37px 37px 0px 0px;
    padding-top: 2vw;
    padding-bottom: 2vw;
    height: 9vw;
    width: 40vw;
    top: -11vw;
    /* left: 16vw; */
}
.whiterectTeam{
    height: 7wh;
}

.aboutustext {
    text-align: center;
    color: #292f36;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 3.75rem;
}

.homeandabout {
    text-align: center;
    color: #4d4f52;
    font-family: "Inter-Regular", Helvetica;
    font-size: 1.375rem;
    font-weight: 400;
    height: 2.063rem;
    letter-spacing: 0.22px;
    line-height: 2.0625rem;
}

.whatwedo {
    /* position: relative;
    display: grid;
    grid-template-columns: auto auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 0 50px;
}

.whatwedorows {
    flex: 1;
    /* position: relative;
    display: grid;
    grid-template-rows: auto auto auto;
    width: 40vw; */
}
.weDo{
    flex: 1;
}
.customContainer{
    padding: 0 50px;
}
.ourConcept{
    padding: 12px 19px 12px 19px;
    border-radius: 8px;
    border:none;
    color:#fff;
    background: rgb(0,157,224);
    background: linear-gradient(90deg, rgba(0,157,224,1) -11%, rgba(0,160,179,1) 67%, rgba(0,166,84,1) 97%);
}
.reviews {
    background-color: #CFF7EF;
    border-radius: 50px;
    padding: 30px;
}
.reviewHead{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
.inputlabel{
    border:none !important;
    outline: none !important;
    border-bottom: 1px solid #000 !important;
    height: 30px;
}
.contactform{
    width: 70%;
}
.projectidea{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 100px 0;
    
}
.projectidea .ourConcept{
    width: 200px;
    display: block;
    margin: auto;
}
.projectidea .labels{
    color:#4D5053;
}
.reviewrows {
    position: relative;
    display: grid;
    grid-template-rows: auto auto;
}

.reviewcolumns {
   display: flex;
   gap: 20px;
}
.reviewtext{
    margin-top: 10px;
}
.whiteboxes {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}
.placesformat{
    font-size: 14px;
}
.reviewerprofile {
    display: flex;
    gap: 10px;
}
.namesformat{
    font-size: 18px;
    font-weight: 600;
}
.profilep1 {
    width: 3vw;
    height: auto;
}
.wrapper_teamCreative{
    background: #FAFBFF;
    padding: 0 50px;
}
.teamMarginManage{
    margin: 50px 0;
}
.wrapper_teamCreative p{
    color: #4D5053;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 206%; /* 41.2px */
    letter-spacing: 0.2px;
}
.teamCreative{
    display: flex;
    justify-content: space-between;
    background: #FAFBFF;
    
}
.teamCreateFirst{
    width: 30%;
}
.teamCreateFirst h2{
    color: #4DD2B2;
    font-size: 65px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 81.25px */
    letter-spacing: 1.3px;
    position: relative;
}
.teamCreateFirst h2::after {
    content: ""; /* Required to create the pseudo-element */
    display: block; /* Makes the pseudo-element a block-level element */
    width: 73px; /* Adjust the width of the border as needed */
    height: 7px; /* Adjust the height of the border as needed */
    background-color: #0C67B4; 
    border-radius: 2px;
    position: absolute; /* Position the border absolutely */
    top: 100%; /* Position it just below the heading text */
    left: 0; /* Align it with the left edge of the heading */
  }
.teamCreateSecond{
    width: 70%;
    display: flex;
    justify-content: center;
}
@media (max-width: 767px) {
    .customContainer{
        padding: 0 10px;
    }
    .aboutustext{
        font-size: 15px;
        line-height: 20px;
    }
    .homeandabout{
        font-size: 10px;
    }
    .whatwedo{
        flex-direction: column;
        gap: 0px;
    }
    .aboutcardpic{
        width: 300px;
    }
    .reviewcolumns{
        flex-direction: column;
    }
    .reviews{
        margin-top: 30px;
    }
    .projectidea{
        margin: 20px 0;
    }
    .contactform{
        width: auto;
    }
}