@font-face {
  font-family: "Inter-SemiBold";
  src: local("Inter-SemiBold"),
    url("../fonts/Inter/static/Inter-SemiBold.ttf") format("truetype")
}

@font-face {
  font-family: "Poppins-Medium";
  src: local("Poppins-Medium"),
    url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype")
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: local("Poppins-SemiBold"),
    url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype")
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: local("Poppins-SemiBold"),
    url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "Nunito-Medium";
  src: local("Nunito-Medium"),
    url("../fonts/Nunito_Sans/static/NunitoSans_10pt-Medium.ttf") format("truetype")
}

@font-face {
  font-family: "Inter-SemiBold";
  src: local("Inter-SemiBold"),
    url("../fonts/Inter/static/Inter-Medium.ttf") format("truetype")
}

@font-face {
  font-family: "Inter-Regular";
  src: local("Inter-Regular"),
    url("../fonts/Inter/static/Inter-Regular.ttf") format("truetype")
}

.footer {
  /* top: -30px; */
  position: relative;
  background-color: #3884c4d9;
  height: fit-content;
  display: grid;
  grid-template-columns: auto auto;
  padding-bottom: 5vw;
}

.footer a {
  text-decoration: none;
  color: white;
}

.emailinputbox {
  background-color: #3c3c45;
  border: 1px none;
  height: auto;
  padding-bottom: 5vw;
  padding-top: 2vw;
  position: relative;
  width: 30vw;
  border-radius: 5px;
  margin-left: 5vw;
  margin-top: 10vw;
}

.emailrows {
  display: grid;
  grid-row: auto auto auto;
  gap: 1vw;
  place-items: center;
}

.element {
  width: 10vw;
  height: auto;
  justify-self: center;
}

.p {
  color: #9da5af;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 1.5rem;
  position: relative;
  text-align: center;
  width: 80%;
  top: -0.5vw;
}

.emailtext {
  position: relative;
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 1vw;
  place-items: center;
  justify-content: center;
}

.emailtext .enotifheader {
  color: #ffffff;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.8rem;
  position: relative;
  white-space: nowrap;
  background-color: transparent;
  border-color: transparent;
  text-align: center;
}

.emailtext .emailbuttontext {
  background-image: url(../assets/buttonbg.png);
  background-size: 230% 560%;
  background-position: 50% 50%;  
  border-radius: 5px;
  color: #ffffff;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.8rem;
  position: relative;
  width: 22.3vw;
  height: 4vw;
  white-space: nowrap;
  background-color: transparent;
  border-color: transparent;
  justify-self: center;
  place-self: center;
  text-align: center;
  /* margin-left: 5%;
  margin-right: 5%; */
}

.emailtext .submitbuttontext {
  background-image: url(../assets/bluebuttonbg.png);
  background-size: 230% 560%;
  background-position: 50% 50%;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 2rem;
  position: relative;
  width: 23vw;
  height: 4.5vw;
  white-space: nowrap;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  top: 1vw;
  /* margin-left: 5%;
  margin-right: 5%; */
}

.rightsidetext {
  margin-top: 10vw;
  left: 2vw;
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto;
  place-items: left;
  gap: 1vw;
  position: relative;
}

.locationgroup {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.1vw;
  position: relative;
  width: 12vw;
}

.locationgroup .locationsymbol {
  height: auto;
  position: relative;
  width: 2vw;
  top: 1vw;
}

.locationgroup .loctitle{
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 1.563rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.725rem;
  position: relative;
  white-space: nowrap;
}

.addressgroup {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5vw;
  top: -1vw;
  position: relative;
  width: 50vw;
}

.noida-uttar-pradesh {
  color: #ffffff;
  font-family: "Inter-Medium", Helvetica;
  font-size: 1.125rem;
  font-weight: 500;
  /* left: 9px; */
  letter-spacing: 0;
  line-height: 1.763rem;
  position: relative;
  /* top: 47px; */
  width: 19vw;
}

.calgary-alberta {
  color: #ffffff;
  font-family: "Inter-Medium", Helvetica;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.763rem;
  position: relative;
  width: 19vw;
}

.firstline {
  position: relative;
  /* left: 575px; */
  /* top: -425px; */
  width: 60vw;
  overflow-x: hidden;
  left: -3vw;
}

.textheaders {
  display: grid;
  grid-template-columns: auto auto auto;
  /* width: 60vw; */
  width: 60vw;
  gap: 1vw;
}

.title {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  /* width: 10vw; */
}

.div {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  /* width: 22vw; */
  gap: 0.5vw;
}

.title-2 {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  /* width: 8vw; */
  gap: 0.5vw;

}

.text-wrapper {
  color: #ffffff;
  font-family: "Inter-Medium", Helvetica;
  font-size: 1.25;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.381rem;
  position: relative;
  white-space: nowrap;
}

.icon {
  height: auto;
  position: relative;
  width: 2.5vw;
  top: -0.25vw;
}

.div .pencimg {
  height: auto;
  position: relative;
  width: 2.5vw;
  top: -0.5vw;
}

.icon-2 {
  height: auto;
  position: relative;
  width: 2.3vw;
  top: -0.15vw;
}

.footerbuttonstext {
  display: grid;
  grid-template-columns: auto auto auto;
}

/* .number {
  height: 190px;
  position: relative;
  width: 114px;
} */

.home-about-case {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 2.381rem;
  position: relative;
  user-select: none;
}

.new-product-build {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 2.381rem;
  position: relative;
  width: fit-content;
}

.facebook-twitter {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 2.381rem;
  position: relative;
  width: fit-content;
}

.secondline {
  position: relative;
  /* left: 575px; */
  /* top: -425px; */
  width: 60vw;
  overflow-x: hidden;
}

.pycraysig {
  position: relative;
  /* top: -365px;
  left: -50px; */
}



.casesbutton {
  position: relative;
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  /* line-height: 38.1px; */
  text-align: left;
  width: 130px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 25px;
  border-color: transparent;
}

.servicesbutton {
  position: relative;
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  /* line-height: 38.1px; */
  text-align: left;
  width: 130px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 25px;
  border-color: transparent;
}

.newproductbutton {
  position: relative;
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  /* line-height: 38.1px; */
  text-align: left;
  width: 175px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 25px;
  border-color: transparent;
}

.apbutton {
  position: relative;
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  /* line-height: 38.1px; */
  text-align: left;
  top: 0;
  width: 239px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 25px;
  border-color: transparent;
}

.accelbutton {
  position: relative;
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  /* line-height: 38.1px; */
  text-align: left;
  width: 125px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 25px;
  border-color: transparent;
}
