@font-face {
  font-family: "Inter-SemiBold";
  src: local("Inter-SemiBold"),
    url("../fonts/Inter/static/Inter-SemiBold.ttf") format("truetype")
}

@font-face {
  font-family: "Poppins-Medium";
  src: local("Poppins-Medium"),
    url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype")
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: local("Poppins-SemiBold"),
    url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype")
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: local("Poppins-SemiBold"),
    url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "Nunito-Medium";
  src: local("Nunito-Medium"),
    url("../fonts/Nunito_Sans/static/NunitoSans_10pt-Medium.ttf") format("truetype")
}

@font-face {
  font-family: "Inter-SemiBold";
  src: local("Inter-SemiBold"),
    url("../fonts/Inter/static/Inter-Medium.ttf") format("truetype")
}

@font-face {
  font-family: "Inter-Regular";
  src: local("Inter-Regular"),
    url("../fonts/Inter/static/Inter-Regular.ttf") format("truetype")
}

.footer {
  /* top: -30px; */
  position: relative;
  background-color: #3884c4d9;
  height: fit-content;
  display: grid;
  grid-template-columns: 30% 70%;
  padding-bottom: 5vw;
  gap: 4vw;
}

.footer a {
  text-decoration: none;
  color: white;
}

.emailinputbox {
  background-color: #3c3c45;
  border: 1px none;
  height: auto;
  padding-bottom: 7vw;
  padding-top: 2vw;
  position: relative;
  width: 73%;
  border-radius: 5px;
  margin-left: 5vw;
  margin-top: 10vw;
}

.emailrows {
  display: grid;
  grid-row: auto auto auto;
  /* gap: 1vw; */
  place-items: center;
}

.emailcolumns {
  display: none;
}

.element {
  width: 10vw;
  height: auto;
  justify-self: center;
}

.p {
  color: #9da5af;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 1.5rem;
  position: relative;
  text-align: center;
  width: 73%;
  /* top: -0.5vw; */
}

.emailtext {
  position: relative;
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 1vw;
  place-items: center;
  justify-content: center;
}

.emailtext .enotifheader {
  color: #ffffff;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 110.5%;
  position: relative;
  white-space: nowrap;
  background-color: transparent;
  border-color: transparent;
  /* text-align: center; */
}

.emailtext .emailbuttontext {
  background-image: url(../assets/buttonbg.png);
  background-size: 230% 560%;
  background-position: 50% 50%;  
  border-radius: 5px;
  color: #ffffff;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 1.13rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 160%;
  /* position: relative; */
  width: 81%;
  white-space: nowrap;
  background-color: transparent;
  border-color: transparent;
  /* justify-self: center;
  place-self: center; */
  text-align: center;
  text-transform: capitalize;
  /* margin-left: 5%;
  margin-right: 5%; */
  padding: 1vw 0vw;
}

.emailtext .submitbuttontext {
  background-image: url(../assets/bluebuttonbg.png);
  background-size: 230% 560%;
  background-position: 50% 50%;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 160%;
  position: relative;
  width: 81%;
  white-space: nowrap;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  top: 2vw;
  text-transform: capitalize;
  /* margin-left: 5%;
  margin-right: 5%; */
  padding: 1vw 0vw;
}

.rightsidetext {
  margin-top: 10vw;
  /* left: 2vw; */
  width: 81%;
  height: auto;
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto;
  /* place-items: left; */
  gap: 1vw;
  position: relative;
}

.locationgroup {
  display: grid;
  grid-template-columns: auto auto;
  /* gap: 0.1vw; */
  position: relative;
  width: 11vw;
}

.locationgroup .locationsymbol {
  height: auto;
  position: relative;
  width: 0.5vw;
  min-width: 20px;
  top: 1vw;
}

.locationgroup .loctitle{
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 1.563rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.725rem;
  position: relative;
  white-space: nowrap;
}

.addressgroup {
  display: grid;
  grid-template-columns: auto auto;
  /* gap: 0.5vw; */
  top: -1vw;
  position: relative;
  width: 94%;
}

.noida-uttar-pradesh {
  color: #ffffff;
  font-family: "Inter-Medium", Helvetica;
  font-size: 1.125rem;
  font-weight: 500;
  /* left: 9px; */
  letter-spacing: 0;
  line-height: 1.763rem;
  position: relative;
  /* top: 47px; */
  width: 65%;
}

.calgary-alberta {
  color: #ffffff;
  font-family: "Inter-Medium", Helvetica;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.763rem;
  position: relative;
  width: 71%;
}

.firstline {
  position: relative;
  /* left: 575px; */
  /* top: -425px; */
  /* width: 57vw; */
  overflow-x: hidden;
  /* left: -1vw; */
}

.locationgroup2 {
  place-items: center;
}

.textheaders {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8vw; /* Adjust outer column gap */
  width: 94%;
  margin-top: 20px;
}

.pageTitle,
.div,
.title-2 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5vw;
  margin-bottom: 2vw;
}

.text-wrapper {
  color: #ffffff;
  font-family: "Inter-Medium", Helvetica;
  font-size: 1.25rem; /* Add "rem" unit */
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.381rem;
  position: relative;
  white-space: nowrap;
}

.icon,
.pencimg,
.icon-2 {
  height: auto;
  width: 2vw;
  position: relative;
  top: -0.25vw; /* Adjust vertically if needed */
}


.footerbuttonstext {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 81%;
}

/* .number {
  height: 190px;
  position: relative;
  width: 114px;
} */

.home-about-case {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 2.381rem;
  position: relative;
  user-select: none;
}

.new-product-build {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 2.381rem;
  position: relative;
  width: 80%;
}

.facebook-twitter {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 2.381rem;
  position: relative;
  width: fit-content;
}

.secondline {
  position: relative;
  /* left: 575px; */
  /* top: -425px; */
  /* width: 57vw; */
  overflow-x: hidden;
  /* left: -1vw; */
}

.pycraysig {
  position: relative;
  /* top: -365px;
  left: -50px; */
}



/* .casesbutton {
  position: relative;
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  text-align: left;
  width: 130px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 25px;
  border-color: transparent;
}

.servicesbutton {
  position: relative;
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  text-align: left;
  width: 130px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 25px;
  border-color: transparent;
} */

.newproductbutton {
  position: relative;
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  /* line-height: 38.1px; */
  text-align: left;
  width: 175px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 25px;
  border-color: transparent;
}

.apbutton {
  position: relative;
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  /* line-height: 38.1px; */
  text-align: left;
  top: 0;
  width: 239px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 25px;
  border-color: transparent;
}

.accelbutton {
  position: relative;
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  /* line-height: 38.1px; */
  text-align: left;
  width: 125px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 25px;
  border-color: transparent;
}

@media (max-width: 1200px) {
  .footer {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  .emailinputbox {
    background-color: #3c3c45;
    border: 1px none;
    height: auto;
    padding-left: 3vw;
    padding-bottom: 5vw;
    padding-top: 5vw;
    position: relative;
    width: 87vw;
    border-radius: 7px;
    /* margin-left: 11.5vw; */
    margin-right: 11.5vw;
    margin-top: 10vw;
    justify-self: center;
  }

  .emailrows {
    display: none;
  }

  .firstline {
    display: none;
  }

  .emailcolumns {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .logo3pic {
    width: 30vw;
    height: auto;
    /* left: 5vw; */
  }

  .emailrows2 {
    display: grid;
    grid-row: auto auto auto;
    place-items: center;
    /* left: 20vw; */
  }

  .locationgroup {
    display: none;
  }

  .addressgroup {
    display: none;
  }

  .locationgroup2 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1vw;
    position: relative;
    width: 12vw;
    left: 5vw;
  }

  .locationgroup2 .locationsymbol {
    height: auto;
    position: relative;
    width: 2vw;
    min-width: 10px;
    /* top: 3vw; */
  }
  
  .locationgroup2 .loctitle{
    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1rem;
    position: relative;
    white-space: nowrap;
  }

  .addressgroup2 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 2vw;
    /* top: -1vw; */
    position: relative;
    width: 30vw;
    padding: 0vw 5vw;
    /* place-self: center; */
  }

  .p {
    font-size: 0.54rem;
    line-height: 1.06rem;
    width: 40vw;
    text-align: left;
  }

  .emailtext {
    justify-content: flex-start;
    width: 40vw;
  }

  .emailtext .emailbuttontext {
    justify-self: flex-start;
    border-radius: 3px;
    text-align: center;
  }
  
  .emailtext .submitbuttontext {
    justify-self: flex-start;
    border-radius: 3px;
    margin-top: 4px;
  }

  .locationgroup .loctitle{
    font-size: 0.544rem;
    line-height: 0.6rem;
  }
  
  .noida-uttar-pradesh {
    font-size: 0.5rem;
    line-height: 0.688rem;
    color: #CFCFCF;
    width: 100%;
  }
  
  .calgary-alberta {
    font-size: 0.5rem;
    line-height: 0.688rem;
    color: #CFCFCF;
    width: 100%;
  }

  .rightsidetext {
    /* margin-top: 10vw;
    left: 15vw;
    width: 60vw;
    height: auto; */
    display: grid;
    grid-template-rows: auto auto auto auto;
    place-items: center;
    /* gap: 1vw; */
    position: relative;
    width: 100vw;
  }

  .textheaders {
    /* left: -60px; */
    position: relative;
    gap: 15vw;
    display: flex;
  }

  .text-wrapper {
    font-size: 0.438rem;
    line-height: 0.689rem;
  }

  .home-about-case {
    font-size: 0.438rem;
    line-height: 1.188rem;
  }
  
  .new-product-build {
    font-size: 0.438rem;
    line-height: 1.188rem;
    /* left: 10vw; */
    width: fit-content;
  }
  
  .facebook-twitter {
    font-size: 0.438rem;
    line-height: 1.188rem;
    /* left: -10vw; */
  }

  .newproductbutton, .apbutton, .accelbutton {
    font-size: 0.438rem;
    width: fit-content;
  }

  .pageTitle, .div, .title-2 {
    width: fit-content;
  }

  .textheaders {
    gap: 15vw;
    width: 90vw;
    margin-top: 0px;
    justify-content: center;
  }

  .rightsidetext {
    margin-top: 5vw;
    gap: 3vw;
    justify-content: center;
  }

  .pageTitle {
    margin-right: 0px;
  }

  .textheaders > div:nth-child(1), .textheaders > div:nth-child(2), .textheaders > div:nth-child(3) {
    width: fit-content;
  }

  .secondline {
    width: 90vw;
  }

  .pycraysig {
    justify-self: flex-start;
    width: 53vw;
  }

  .p {
    font-size: 0.87rem;
    line-height: 1.3rem;
  }
  
  .emailtext .enotifheader {
    font-size: 0.98rem;
    line-height: 1.57rem;
    width: 100%;
  }

  .emailtext .emailbuttontext {
    font-size: 0.98rem;
    line-height: 1.57rem;
  }
  
  .emailtext .submitbuttontext {
    font-size: 1.09rem;
    line-height: 1.74rem;
  }

  .locationgroup .loctitle{
    font-size: 1.36rem;
    line-height: 1.5rem;
  }
  
  .noida-uttar-pradesh {
    font-size: 0.98rem;
    line-height: 1.53rem;
  }
  
  .calgary-alberta {
    font-size: 0.98rem;
    line-height: 1.53rem;
  }

  .text-wrapper {
    font-size: 0.98rem;
    line-height: 1.2rem;
  }

  .home-about-case {
    font-size: 0.98rem;
    line-height: 2.07rem;
  }
  
  .new-product-build {
    font-size: 0.98rem;
    line-height: 2.07rem;
  }
  
  .facebook-twitter {
    font-size: 0.98rem;
    line-height: 2.07rem;
  }

  .newproductbutton {
    font-size: 0.98rem;
  }
  
  .apbutton {
    font-size: 0.98rem;
  }
  
  .accelbutton {
    font-size: 0.98rem;
  }
}
