@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins-Regular"),
    url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "Poppins-Medium";
  src: local("Poppins-Medium"),
    url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype")
}

@font-face {
  font-family: "Poppins-Bold";
  src: local("Poppins-Bold"),
    url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype")
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: local("Poppins-SemiBold"),
    url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype")
}

@font-face {
  font-family: "Noto Sans-Medium";
  src: local("Noto Sans-Medium"),
    url("../fonts/Noto\ Sans-Medium.ttf") format("truetype")
}

.homepagediv {
  display: grid;
  width: 100vw;
  margin: 0 auto;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.ellipseContainer {
  width: 100vw;
  height: auto;
}

.ellipsesvg {
  position: relative;
  width: 100vw;
  height: auto;
  top: -140px;
}

.ellipsecolumns {
  position: absolute;
  top: 0vw;
  display: grid;
  grid-template-columns: auto auto;
  gap: 13vw;
  grid-template-rows: auto;
  justify-content: center;
  height: auto;
  width: 90vw;
  align-items: center;
}

.textBody {
  position: relative;
  top: 65px;
}

.peopleTalking {
  position: relative;
  height: auto;
  width: 45vw;
  top: 97px;
  justify-self: right;
  margin-right: -10%;
  z-index: 3;
}

.maybetemptext {
  position: relative;
  justify-self: center;
  height: auto;
  width: 36vw;
  z-index: 2;
  left: 10vw;
  top: 0vw;
}

.ellipsebutton {
  background: linear-gradient(45deg, rgb(0, 157, 224) 0%, rgb(0, 166, 84) 100%);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid;
  border-color: transparent;
  border-radius: 7px;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 150;
  letter-spacing: 0;
  line-height: 1.375rem;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  z-index: 20;
  left: 10vw;
  width: 12vw;
  /* height: 4vw; */
  min-width: 80px;
  min-height: 30px;
  position: relative;
  margin-top: 12px;
  padding: 1vw;
}

/* Media queries for different screen sizes */
@media (max-width: 1200px) {
  /* Adjust styles for screens up to 1200px wide */
  /* ... your styles ... */
}

@media (max-width: 950px) {

  .ellipseContainer {
    background-image: url(../assets/ellipsemobile.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 110vw;
    height: auto;
    width: 100vw;
  }

  .ellipsesvg {
    display: none;
  }

  .ellipsecolumns {
    position: relative;
    grid-template-columns: auto;
    gap: 0.1vw;
    grid-template-rows: 18% auto;
    width: 100%;
  }

  .textBody {
    display: grid;
  }

  .maybetemptext {
    justify-self: left;
    left: 0vw;
    width: 70vw;
  }

  .peopleTalking {
    width: 90vw;
    left: 9vw;
    top: 7vw;
    margin: 0px;
  }

  .ellipsebutton {
    font-size: 0.8rem;
    line-height: 1rem;
    left: 0vw;
    width: 24vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.homeProductGenesis {
  display: grid;
  grid-template-rows: auto auto;
  align-items: center;
  height: auto;
  width: 100vw;
  position: relative;
  overflow: hidden;
  gap: 5vw;
}

.productpicandtext {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  place-items: top center;
  height: auto;
  width: 100vw;
  gap: 10vw;
}

.vasesPic {
  position: relative;
  width: 42vw;
  height: auto;
  margin-left: 5vw;
  margin-top: 1vw;
}

.genesistextarea {
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
  height: auto;
  gap: 1vw;
}

.productGenesisUnderline {
  display: none;
}

.picsandtext {
  display: grid;
  gap: 2vw;
  grid: none;
}

.picWithText {
  display: flex;
  align-items: start;
  gap: 4vw;
}

.twopics {
  display: grid;
  grid-template-rows: auto auto;
  gap: 1vw;
}

.nexttext {
  display: grid;
  grid-template-rows: auto auto;
  gap: 2vw;
}

.ptb {
  margin-top: 15px;
  position: relative;
}

.image {
  height: auto;
  object-fit: cover;
  position: relative;
  width: 6.5vw;
}

.img {
  height: auto;
  object-fit: cover;
  position: relative;
  width: 11.5vw;
}

.be-in-the-trend-of {
  color: #333333;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 2.5rem;
  font-weight: 600;
  height: auto;
  letter-spacing: 0;
  line-height: 2.5vw;
  position: relative;
  white-space: nowrap;
  /* width: 356px; */
}

.every-week-we-create {
  color: #858a8f;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 1.3rem;
  font-weight: 400;
  height: auto;
  letter-spacing: 1px;
  position: relative;
  width: 42vw;
}

.we-adapt-to-you {
  color: #333333;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 2.2vw;
  position: relative;
  white-space: nowrap;
}

.we-analyze-your {
  color: #858a8f;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 2.4vw;
  position: relative;
  width: 84%;
}

.your-music-your1 {
  color: #333333;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 2.2vw;
  position: relative;
  white-space: nowrap;
}

.rectbox {
  position: relative;
  border: 0px none;
  height: auto;
  justify-self: center;
  width: 65vw;
  margin-bottom: 1vw;
  background-color: #85BAE76B;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #ababac;
}

.rectangle {
  height: 100px;
  position: relative;
  width: 80vw;
  z-index: 1;
}

.textthenbutton {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 1vw;
  align-items: center;
  justify-items: center;
}

.label2 {
  border: 0px none;
  height: auto;
  width: 36vw;
  position: relative;
  z-index: 2;
  padding: 1vw;
}

.label2 .your-music-your2 {
  color: #333333;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.813rem;
  position: relative;
}

.no-credit-card {
  background: linear-gradient(45deg, rgb(0, 157, 224) 0%, rgb(0, 166, 84) 100%);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid;
  border-color: transparent;
  border-radius: 7px;
  /* height: 7vw; */
  max-height: 50px;
  max-width: 290px;
  min-width: 150px;
  position: relative;
  color: #ffffff;
  border-color: transparent;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 1rem;
  font-weight: 150;
  letter-spacing: 0;
  line-height: 1.375rem;
  white-space: nowrap;
  cursor: pointer;
  justify-self: center;
  padding: 10px;
}


/* Media queries for different screen sizes */
@media (max-width: 1200px) {
  /* Adjust styles for screens up to 1200px wide */
  /* ... your styles ... */
}

@media (max-width: 950px) {

  /* Adjust styles for screens up to 768px wide */
  /* ... your styles ... */
  .consultationButton .no-credit-card {
    color: #ffffff;
    background-color: transparent;
    border-color: transparent;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 0.75rem;
    font-weight: 150;
    letter-spacing: 0;
    line-height: 0.75rem;
    white-space: nowrap;
    cursor: pointer;
    justify-self: center;
  }

  .be-in-the-trend-of {
    color: #333333;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 1.6rem;
    font-weight: 600;
    height: auto;
    letter-spacing: 0;
    line-height: 5.5vw;
    position: relative;
    white-space: nowrap;
    justify-self: center;
    text-align: center;
  }

  .every-week-we-create {
    font-size: 0.8rem;
    line-height: 4.9vw;
    width: 92vw;
    text-align: left;
    justify-self: center;
  }

  .we-adapt-to-you {
    color: #333333;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 0.98rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 2.2vw;
    position: relative;
    white-space: nowrap;
  }

  .we-analyze-your {
    color: #858a8f;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 0.76rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 4.75vw;
    position: relative;
    width: 61vw;
  }

  .productpicandtext {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    place-items: center;
    height: auto;
    width: 100vw;
    gap: 0.1vw;
  }

  .vasesPic {
    order: 2;
    width: 60vw;
    margin: 0px;
  }

  .genesistextarea {
    order: 1;
  }
  
  .initialtext {
    display: grid;
    grid-auto-columns: auto auto auto;
    gap: 2vw;
  }

  .productGenesisUnderline {
    display: block;
    justify-self: center;
  }

  .picsandtext {
    position: relative;
    margin-bottom: 20px;
  }

  .image {
    width: 11.5vw;
  }

  .rectbox {
    width: 80vw;
  }
}
.linebreak {
  display: none;
}

.deliveryProcess {
  margin-top: 4vw;
  border: 0px none;
  height: auto;
  position: relative;
  width: 100vw;
  display: grid;
  grid-template-rows: auto auto auto;
  justify-content: center;
  overflow: hidden;
}

.deliveryProcess .tboxes {
  display: flex;
  flex-flow: column;
  height: auto;
  position: relative;
  width: 100vw;
  justify-self: center;
  place-items: center;
}

.deliveryProcess .deliveryPic {
  display: flex;
  justify-content: center;
}

.deliveryProcess .contact-us-if-you {
  color: #858a8f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.25rem;
  font-weight: 400;
  height: auto;
  letter-spacing: 0;
  line-height: 2.19rem;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

/* change fonts or import later */

.deliveryProcess .leave-a-message {
  color: #333333;
  font-family: "Inter-Bold", Helvetica;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 3.625rem;
  position: relative;
  justify-self: center;
  text-align: center;
  white-space: nowrap;
}

.deliveryProcessPic {
  width: 55%;
}

.deliveryProcess .delivUnderline {
  position: relative;
  justify-self: center;
  /* top: -70px; */
}

.industries {
  margin-top: 3vw;
  position: relative;
  display: grid;
  height: auto;
  width: 100vw;
  justify-content: center;
  grid-template-rows: auto auto;
  overflow: hidden;
}

.pageSplit {
  display: flex;
  justify-content: center;
}

.pageSplitLine {
  position: relative;
  width: 85vw;
  height: auto;
  margin-top: 50px;
}

.industrytbox {
  border: 0px none;
  height: auto;
  position: relative;
  width: 659px;
  z-index: 3;
  justify-self: center;
}

.industrytbox .itboxes {
  height: 153px;
  display: grid;
  width: 663px;
  z-index: 7;
  justify-self: center;
  place-items: center;
}

.industrytbox .contact-us-if-you {
  color: #858a8f;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 2.19rem;
  position: absolute;
  text-align: center;
  top: 83px;
  width: 90%;
}

.industrytbox .leave-a-message {
  color: #333333;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 3.625rem;
  position: absolute;
  top: 0;
  white-space: nowrap;
  justify-self: center;
  place-items: center;
}

.indusUnderline {
  position: absolute;
  left: 300px;
  top: 87px;
}

.industrycontainer {
  margin: 3vw 0 1vw 0;
  height: 30vw;
  width: 75vw;
  display: grid;
  justify-self: center;
  align-items: center;
}

.industryPic {
  width: 100%;
}

.industryMobileView {
  display: none;
}

.clientsh {
  background-image: url(../assets/blueimg.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px none;
  height: auto;
  position: relative;
  display: grid;
  grid-template-rows: auto auto auto;
  justify-content: center;
  width: 100vw;
  z-index: 100;
  overflow: hidden;
  place-items: center;
}

.clientsh .our-fetaured-clients {
  color: #333333;
  margin-top: 3vw;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 3.625rem;
  position: relative;
  justify-self: center;
  white-space: nowrap;
}

.clientsh .clientBox {
  height: auto;
  justify-self: center;
  position: relative;
  width: fit-content;
}

.clientsh .rect {
  background-color: #0b67b3;
  border-radius: 2px;
  height: 7px;
  position: relative;
  width: 73px;
  transform: translateX(240%);
  top: -30px;
}

.clientsh .clientLogos {
  height: auto;
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10vw;
  left: 0;
  position: relative;
  top: 0;
  justify-content: center;
}

.clientsh .p1 {
  object-fit: cover;
  position: relative;
  justify-self: center;
  width: 17vw;
  height: auto;
  transform: translateY(90%);
}

.clientsh .p2 {
  object-fit: cover;
  position: relative;
  width: 17vw;
  height: auto;
  transform: translateY(-15%);
}

.clientsh .p3 {
  object-fit: cover;
  position: relative;
  width: 11vw;
  height: auto;
}

.clientsh .p4 {
  position: relative;
  width: 17vw;
  height: auto;
  transform: translateY(-15%);
}

.casestudies {
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
  height: auto;
  gap: 3vw;
  background: linear-gradient(135deg, #c5e0f7 0%, #ffffff 100%);
  place-items: center;
  justify-content: center;
  width: 100vw;
}

.caseUnderline {
  position: relative;
  justify-self: center;
}

.headline-supporting {
  margin-top: 3vw;
  border: 1px none;
  height: auto;
  display: grid;
  grid-template-rows: auto auto auto;
  position: relative;
  width: 100vw;
}

.headline-supporting .headline {
  color: #272d37;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -0.8px;
  line-height: 2.5rem;
  position: relative;
  justify-self: center;
  text-align: center;
}

.headline-supporting .subtitle {
  color: #5f6d7e;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 1.56rem;
  position: relative;
  justify-self: center;
  text-align: center;
  width: 85vw;
}

.casesbox {
  border-color: #858a8f;
  background-color: transparent;
  border-radius: 20px;
  border: 2px;
  height: auto;
  padding-top: 1vw;
  padding-bottom: 2vw;
  width: 90vw;
  position: relative;
  border-style: ridge;
  margin-bottom: 2vw;
}

.caseleftside {
  position: relative;
  margin-left: 4vw;
}

.casecolumns {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5vw;
  width: 100%;
  place-items: center;
}

.caserightside {
  position: relative;
  margin-right: 1vw;
  margin-top: 2vw;
}

.caserows {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  gap: 1vw;
}

.datelabel {
  display: grid;
  grid-template-columns: auto 90%;
  gap: 4vw;
  justify-self: center;
}

.laptopbackground {
  border: 0px none;
  height: 32.6vw;
  overflow: hidden;
  width: 47.5vw;
  position: relative;
  border-radius: 20px;
  box-shadow: 2px 2px lightgrey;
}

.ltpic {
  position: relative;
  z-index: 11;
  top: -28.5vw;
  left: 7.5vw;
  width: 38.5vw;
  height: auto;
}

.gestalt-psychology {
  color: #272d37;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 1.562rem;
  font-weight: 600;
  letter-spacing: -0.27px;
  line-height: 1.875rem;
  position: relative;
  justify-content: flex-start;
  display: flex;
}

.text-wrapper10 {
  color: #5f6d7e;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 0.8125rem;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 1.5rem;
  position: relative;
  width: 27vw;
}

.tw1 {
  color: #292930;
  font-family: "Poppins-Inter", Helvetica;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.8rem;
  position: relative;
  text-align: center;
  white-space: nowrap;
  border-style: solid;
  border-radius: 50px;
  width: 8.3vw;
  min-width: 9vw;
  padding: 0.5vw;
  border-width: thin;
}

.september {
  color: #292930;
  font-family: "Noto Sans-Medium", Helvetica;
  font-size: 0.813rem;
  font-weight: 500;
  letter-spacing: 2.02px;
  line-height: 1.47rem;
  position: relative;
  white-space: nowrap;
  display: flex;
  align-items: center;
  /* width: 10vw; */
}

.learnmorebuttondiv {
  border: 0px none;
  height: 1vw;
  width: 2vw;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.1vw;
  position: relative;
  z-index: 25;
  left: -0.5vw;
  top: -1.5vw;
}

.learnclicked {
  color: #045a92c4;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 0.813rem;
  font-weight: 540;
  letter-spacing: 0;
  line-height: 1.375rem;
  position: relative;
  white-space: nowrap;
  text-align: left;
  justify-self: left;
  background-color: transparent;
  border-radius: 25px;
  border-color: transparent;
  cursor: pointer;
  z-index: 26;
}

.rarrow {
  position: relative;
  top: 0.4vw;
  z-index: 20;
}

.casedividerline {
  position: relative;
  top: -1.5vw;
  width: 27vw;
  overflow-x: hidden;
}

.casebuttonwp {
  background: linear-gradient(45deg, rgb(0, 157, 224) 0%, rgb(0, 166, 84) 100%);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid;
  border-color: transparent;
  border-radius: 10px;
  position: relative;
  width: 13vw;
  min-width: 170px;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  justify-content: left;
  top: -2vw;
}

.casebuttonwp .all-case-study {
  color: #ffffff;
  background-color: transparent;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.6rem;
  position: relative;
  white-space: nowrap;
  text-align: left;
  border-radius: 10px;
  border-color: transparent;
  cursor: pointer;
}

.casebuttonwp .vector {
  position: relative;
  place-self: center;
}

.toolsdivcomps {
  position: relative;
}

.helpdiv {
  position: relative;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto auto auto;
  place-items: center;
  background-color: #FAFBFF;
}

.helptitle {
  margin-top: 7%;
}

.helptitle .we-re-here-to-help {
  color: #333333;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 2.5rem;
  font-weight: 600;
  height: auto;
  letter-spacing: 0;
  line-height: 2.5rem;
  position: relative;
  white-space: nowrap;
}

.helpunderline {
  border: 0px none;
  height: 7px;
  width: 73px;
}

.helpunderline .recunder {
  background-color: #0b67b3;
  border-radius: 2px;
  height: 7px;
  position: relative;
  width: 73px;
}


.helptext {
  display: flex;
  justify-content: center;
}

.helptext .contact-us-if-you {
  color: #858a8f;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 2.18rem;
  text-align: center;
  width: 65%;
}

.helpbuttons {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 2vw;
  gap: 5vw;
  margin-bottom: 5vw;
}

.emailsection,
.dropinsection,
.booksection {
  position: relative;
  width: 100%;
  height: auto;
}

.emailus,
.dropinus,
.bookcons {
  width: 100%; /* Make sure the image takes up the entire container */
  height: auto;
}

.emailbutton,
.dropbutton,
.bookbutton {
  position: absolute;
  z-index: 1;
  width: 17vw; /* Adjust the width of the button as needed */
  height: 2.5vw;
  min-height: 10px;
  background-color: transparent;
  cursor: pointer;
  border-color: black;
}

/* Define the position of buttons based on percentage */
.emailbutton {
  top: 78%; /* Adjust the percentage as needed */
  left: 5%; /* Adjust the percentage as needed */
  border-radius: 25px;
  border-color: transparent;
}

.dropbutton {
  top: 78%; /* Adjust the percentage as needed */
  left: 5%; /* Adjust the percentage as needed */
  border-radius: 25px;
  border-color: transparent;
}

.bookbutton {
  top: 78%; /* Adjust the percentage as needed */
  left: 5%; /* Adjust the percentage as needed */
  border-radius: 25px;
  border-color: transparent;
}

.card {
  border-radius: 4px;
  padding: 1vw;
  flex-shrink: 0;
  background-color: #FFF;
  width: 25vw;
  height: 90%
}

.card .card-img {
  margin: 2vw 1vw;
}

.card-content {
  margin: 0vw 2vw;
}

.card-content h2 {
  color: #333;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px; /* 121.429% */
}

.card-content p {
  color: #858A8F;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 1.13rem;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
}

.card-content .blueText {
  color: #397EFF;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Media query for smaller screens */
@media (max-width: 600px) {

  .your-music-your1 {
    color: #333333;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 0.98rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 2.2vw;
    position: relative;
    white-space: nowrap;
  }

  .you-can-import-your {
    color: #858a8f;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 0.76rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 2.75vw;
    position: relative;
    width: 35vw;
  }

  .label2 .your-music-your2 {
    color: #333333;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 0.71rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.23rem;
    position: relative;
  }

  .deliveryProcess .contact-us-if-you {
    color: #858a8f;
    font-family: "Inter-Regular", Helvetica;
    font-size: 0.625rem;
    font-weight: 400;
    /* left: 0; */
    letter-spacing: 0;
    line-height: 1.27rem;
    position: relative;
    text-align: center;
    /* top: 83px; */
    white-space: nowrap;
    /* justify-self: center; */
  }

  /* change fonts or import later */

  .deliveryProcess .leave-a-message {
    color: #333333;
    font-family: "Inter-Bold", Helvetica;
    font-size: 1.59rem;
    font-weight: 700;
    /* left: 133px; */
    letter-spacing: 0;
    line-height: 2.11rem;
    position: relative;
    justify-self: center;
    text-align: center;
    /* top: 0; */
    white-space: nowrap;
  }

  .deliveryProcess .delivUnderline {
    position: relative;
    justify-self: center;
    /* left: 599px; */
    /* top: -45px; */
  }
  
  .industrytbox .contact-us-if-you {
    color: #858a8f;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 0.9rem;
    font-weight: 400;
    /* left: 0; */
    letter-spacing: 0;
    line-height: 1.27rem;
    position: absolute;
    text-align: center;
    /* top: 60px; */
    width: 90vw;
    margin: 5vw;
  }

  .industrytbox .leave-a-message {
    color: #333333;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 2.59rem;
    font-weight: 600;
    /* justify-self: center; */
    letter-spacing: 0;
    line-height: 1.98rem;
    position: absolute;
    top: 0;
    white-space: nowrap;
    justify-self: center;
    place-items: center;
  }

  .indusUnderline {
    position: absolute;
    /* left: 300px;
    top: 55px; */
  }

  .industrycontainer {
    /* margin-top: -5vw; */
    position: relative;
    height: 140vw;
    width: 75vw;
    /* background-image: url(../assets/indussmall.svg); */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    justify-self: center;
  }

  .clientsh .our-fetaured-clients {
    color: #333333;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 1.589rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.98rem;
    position: relative;
    /* justify-self: center; */
    white-space: nowrap;
  }

  .clientsh .rect {
    transform: translateX(135%);
    top: -15px;
  }

  .headline-supporting {
    margin-top: 12vw;
  }

  .headline-supporting .headline {
    color: #272d37;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 1.589rem;
    font-weight: 600;
    letter-spacing: -0.8px;
    line-height: 1.98rem;
    position: relative;
    justify-self: center;
    text-align: center;
    top: -1px;
    /* width: 800px; */
  }

  .headline-supporting .subtitle {
    color: #5f6d7e;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 0.7rem;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.27rem;
    justify-self: center;
    position: relative;
    text-align: center;
    width: 95vw;
  }

  .ptbox .gestalt-psychology {
    color: #272d37;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 1.12rem;
    font-weight: 600;
    left: 0;
    letter-spacing: -0.27px;
    line-height: 1.763rem;
    position: absolute;
    top: 0;
    /* width: 400px; */
  }

  .ptbox .text-wrapper10 {
    color: #5f6d7e;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 0.875rem;
    font-weight: 400;
    left: 0;
    letter-spacing: -0.1px;
    line-height: 1.413rem;
    position: absolute;
    top: 6vw;
    width: 27vw;
  }

  .tag .tw1 {
    color: #292930;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 0.625rem;
    font-weight: 500;
    left: 1.3vw;
    letter-spacing: 0;
    line-height: 1.1rem;
    position: absolute;
    /* top: 1px; */
    justify-self: center;
    text-align: center;
    white-space: nowrap;
  }

  .tag .september {
    color: #292930;
    font-family: "Noto Sans-Medium", Helvetica;
    font-size: 0.732rem;
    font-weight: 500;
    letter-spacing: 2.02px;
    line-height: 1.15rem;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }

  .deliveryProcess {
    margin-top: 14vw;
  }

  .deliveryProcess .leave-a-message {
    font-size: 2.59rem;
  }

  .deliveryProcess .contact-us-if-you {
    font-size: 0.9rem;
    text-align: center;
  }

  .deliveryProcessPic {
    width: 95%;
  }

  .industryPic {
    display: none;
  }

  .industryMobileView {
    display: block;
    width: 95%;
  }

  .helptitle .we-re-here-to-help {
    font-size: 2rem;
    font-weight: 500;
  }

  .helptext .contact-us-if-you {
    font-size: 0.75rem;
    line-height: 1.5rem;
    width: 90vw;
  }

  .helpbuttons {
    margin: 5vw 0vw;
  }

}

@media (max-width: 450px) {
  .deliveryProcess .contact-us-if-you {
    font-size: 0.7rem;
  }
}

/* Media query for medium-sized screens */
@media (min-width: 577px) and (max-width: 992px) {
  /* .be-in-the-trend-of {
    color: #333333;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 2.18rem;
    font-weight: 600;
    height: auto;
    letter-spacing: 0;
    line-height: 5.5vw;
    position: relative;
    white-space: nowrap;
  } */

  /* .every-week-we-create {
    font-size: 1.13rem;
    letter-spacing: 2px;
    line-height: 4.9vw;
    width: 90vw;
  } */

  /* .we-adapt-to-you {
    color: #333333;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 2.2vw;
    position: relative;
    white-space: nowrap;
  } */

  /* .we-analyze-your {
    font-size: 0.96rem;
  } */

  .your-music-your1 {
    color: #333333;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 2.2vw;
    position: relative;
    white-space: nowrap;
  }

  .you-can-import-your {
    color: #858a8f;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 0.96rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 2.75vw;
    position: relative;
    width: 35vw;
  }

  .label2 .your-music-your2 {
    color: #333333;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 0.979rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.577rem;
    position: relative;
  }

  .headline-supporting .subtitle {
    color: #5f6d7e;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 0.58rem;
    font-weight: 400;
    letter-spacing: -0.1px;
    line-height: 1.27rem;
    justify-self: center;
    position: relative;
    text-align: center;
    width: 85vw;
  }

  .gestalt-psychology {
    font-size: 1.12rem;
    line-height: 1.763rem;
  }

  .text-wrapper10 {
    font-size: 0.8125rem;
    line-height: 1.4rem;
  }

  .tw1 {
    color: #292930;
    font-size: 0.625rem;
    line-height: 1.1rem;
  }

  .september {
    font-size: 0.732rem;
    line-height: 1.15rem;
  }

  .casebuttonwp .all-case-study {
    font-size: 0.81rem;
    line-height: 1.4rem;
  }
}

@media (max-width: 600px) {

  .linebreak {
    display: block;
  }

  .label2 {
    width: 50vw;
    text-align: center;
    justify-self: center;
  }

  .you-can-import-your {
    width: 60vw;
  }

  .textthenbutton {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 0.1vw;
    padding-bottom: 3vw;
  }
}

@media (max-width: 900px) {

  .caseleftside {
    position: relative;
    margin: 7vw 7vw 4vw 7vw;
  }

  .casecolumns {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 5vw;
    width: 100%;
    place-items: center;
  }

  .caserightside {
    position: relative;
    margin: 0vw; 
  }

  .laptopbackground {
    border: 0px none;
    height: 50.6vw;
    width: 75vw;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    box-shadow: 2px 2px lightgrey;
  }

  .ltpic {
    position: relative;
    z-index: 11;
    top: -41vw;
    left: 16vw;
    width: 50vw;
    height: auto;
  }

  .datelabel {
    display: flex;
    /* grid-template-columns: auto 90%; */
    /* gap: 20vw; */
    width: 75vw;
    justify-content: space-between;
  }

  .tw1 {
    padding: 2vw 3vw;
    min-width: auto;
    font-size: 0.5rem;
    width: auto;
    line-height: normal;
  }

  .gestalt-psychology {
    color: #272d37;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 1.562rem;
    font-weight: 600;
    letter-spacing: -0.27px;
    line-height: 1.875rem;
    position: relative;
  }

  .text-wrapper10 {
    width: 81vw;
    margin: 6vw 0vw;
  }

  .casedividerline {
    position: relative;
    top: -1.5vw;
    width: 81vw;
    overflow-x: hidden;
  }

  .casetext {
    padding: 4vw;
  }

  .learnmorebuttondiv {
    padding: 0vw 4vw;
    display: flex;
    height: auto;
    width: auto;
    gap: 0vw;
    left: auto;
    top: auto;
    align-items: center;
  }

  .casedividerline {
    display: none;
  }

  .casebuttonwp {
    margin: 4vw;
  }

  .rarrow {
    top: auto;
  }

  .helpbuttons {
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
  }

  .card {
    width: 85vw;
    padding: 2vw;
    height: auto;
    text-align: center;
  }

  .card-content .blueText {
    justify-content: center;
  }
}