@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins-Regular"),
    url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "Poppins-Medium";
  src: local("Poppins-Medium"),
    url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype")
}

@font-face {
  font-family: "Poppins-Bold";
  src: local("Poppins-Bold"),
    url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype")
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: local("Poppins-SemiBold"),
    url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype")
}

@font-face {
  font-family: "Noto Sans-Medium";
  src: local("Noto Sans-Medium"),
    url("../fonts/Noto\ Sans-Medium.ttf") format("truetype")
}

.homepagediv {
  display: grid;
  width: fit-content;
  margin: 0 auto;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

/* Base styles for all screen sizes */
.ellipseContainer {
  background-image: url(../assets/ellipse.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100vw;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20vw;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  height: auto;
  /* min-height: 60vh; */
  width: 100vw;
  /* margin-top: -200px; */
  /* width: 100%; */
  z-index: 2;
  overflow: hidden;
}

/* 
.ellipseBox,
.ellipseLine,
.peopleTalking {
  z-index: 1;
}

.ellipseBox .ellipse,
.ellipseLine .ellipse {
  width: 100%; 
  height: auto; 
  max-width: 200vw;
  align-items: center;
}

.ellipseLine {
  position: relative;
  top: -725px;
  z-index: 1;
} */

.peopleTalking {
  position: relative;
  height: auto;
  width: 40vw;
  top: 0px;
  /* max-width: 1000px; */
  justify-self: right;
  margin-right: 15%;
  z-index: 2;
}

/* .label {
  border: 0;
  max-width: 550px;
  z-index: -10;
}

.label .lets-make-your {
  color: transparent;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 18%;
  letter-spacing: 0.5px;
  line-height: 60px;
  top: 0px;
  width: 550px;
}

.label .span {
  font-family: "Poppins-Bold", Helvetica;
  font-size: 33px;
  font-weight: 700;
  background-color: white;
  background-image: linear-gradient(45deg, #073E90, #0C91BB8C);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
} */

.maybetemptext {
  position: relative;
  justify-self: center;
  height: auto;
  width: 40vw;
  z-index: 2;
  left: 15vw;
}

.button-wrap1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-base {
  background: linear-gradient(45deg, rgb(0, 157, 224) 0%, rgb(0, 166, 84) 100%);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid;
  border-color: transparent;
  border-radius: 7px;
  height: 2vw;
  /* Adjusted to auto */
  min-width: 50px;
  width: 11vw;
  padding: 10px;
  /* Add padding for better appearance */
  z-index: 2;
  cursor: pointer;
  display: flex;
  /* Use flexbox for button alignment */
  align-items: center;
  /* Center content vertically */
  justify-content: center;
}

.button-base .no-credit-card {
  color: #ffffff;
  background-color: transparent;
  border-color: transparent;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 1.3rem;
  font-weight: 150;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
  cursor: pointer;
  justify-self: center;
  display: inline-block;
}


/* Media queries for different screen sizes */
@media (max-width: 1200px) {
  /* Adjust styles for screens up to 1200px wide */
  /* ... your styles ... */
}

@media (max-width: 950px) {

  /* Adjust styles for screens up to 768px wide */
  /* ... your styles ... */
  .button-base .no-credit-card {
    color: #ffffff;
    background-color: transparent;
    border-color: transparent;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 0.75rem;
    font-weight: 150;
    letter-spacing: 0;
    line-height: 22px;
    white-space: nowrap;
    cursor: pointer;
    justify-self: center;
    display: inline-block;
  }
}

/* Add more media queries as needed for other screen sizes */


.homeProductGenesis {
  display: grid;
  /* grid-template-columns: auto auto; */
  grid-template-rows: auto auto;
  /* justify-content: center; */
  align-items: center;
  height: auto;
  width: 100vw;
  position: relative;
  overflow: hidden;
  gap: 0.1vw;
  margin-top: 3vw;
}

.productpicandtext {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  /* justify-content: center; */
  place-items: top center;
  height: auto;
  width: 100vw;
  gap: 10vw;
}

.vasesPic {
  position: relative;
  width: 40vw;
  height: auto;
  left: 2vw;
  margin-top: 9vw;
}

.genesistextarea {
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
  height: auto;
  gap: 3vw;
  right: 2vw;
  /* top: -40px; */
  /* width: 50vw; */
}

.picsandtext {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5vw;
}

.twopics {
  display: grid;
  grid-template-rows: auto auto;
  gap: 1vw;
}

.nexttext {
  display: grid;
  grid-template-rows: auto auto;
  gap: 2vw;
}

/* .nexttext .ptb1 {
  display: grid;
  grid-template-rows: auto auto;
  gap: 0.1vw;
  left: 500px;
}

.nexttext .ptb2 {
  display: grid;
  grid-template-rows: auto auto;
  gap: 0.1vw;
} */

.image {
  height: auto;
  object-fit: cover;
  position: relative;
  width: 5.5vw;
  min-width: 45px;
}

.img {
  height: auto;
  object-fit: cover;
  position: relative;
  width: 5.5vw;
  min-width: 45px;
}

.be-in-the-trend-of {
  color: #333333;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 2.5rem;
  font-weight: 600;
  height: auto;
  letter-spacing: 0;
  line-height: 5.5vw;
  position: relative;
  white-space: nowrap;
  /* width: 356px; */
}

.every-week-we-create {
  color: #858a8f;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 1.3rem;
  font-weight: 400;
  height: auto;
  letter-spacing: 0;
  line-height: 2.9vw;
  position: relative;
  width: 45vw;
}

.we-adapt-to-you {
  color: #333333;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 2.2vw;
  position: relative;
  white-space: nowrap;
}

.we-analyze-your {
  color: #858a8f;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 2.75vw;
  position: relative;
  width: 35vw;
}

.your-music-your1 {
  color: #333333;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 2.2vw;
  position: relative;
  white-space: nowrap;
}

.you-can-import-your {
  color: #858a8f;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 2.75vw;
  position: relative;
  width: 35vw;
}

/* Media query for smaller screens */
@media (max-width: 576px) {
  .be-in-the-trend-of {
    color: #333333;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 1.6rem;
    font-weight: 600;
    height: auto;
    letter-spacing: 0;
    line-height: 5.5vw;
    position: relative;
    white-space: nowrap;
  }

  .every-week-we-create {
    color: #858a8f;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 0.77rem;
    font-weight: 400;
    height: auto;
    letter-spacing: 0;
    line-height: 2.9vw;
    position: relative;
    width: 45vw;
  }

  .we-adapt-to-you {
    color: #333333;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 0.98rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 2.2vw;
    position: relative;
    white-space: nowrap;
  }

  .we-analyze-your {
    color: #858a8f;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 0.76rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 2.75vw;
    position: relative;
    width: 35vw;
  }

  .your-music-your {
    color: #333333;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 0.98rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 2.2vw;
    position: relative;
    white-space: nowrap;
  }

  .you-can-import-your {
    color: #858a8f;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 0.76rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 2.75vw;
    position: relative;
    width: 35vw;
  }
}

/* Media query for medium-sized screens */
@media (min-width: 577px) and (max-width: 992px) {
  .be-in-the-trend-of {
    color: #333333;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 2.18rem;
    font-weight: 600;
    height: auto;
    letter-spacing: 0;
    line-height: 5.5vw;
    position: relative;
    white-space: nowrap;
    /* width: 356px; */
  }
  
  .every-week-we-create {
    color: #858a8f;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 1.13rem;
    font-weight: 400;
    height: auto;
    letter-spacing: 0;
    line-height: 2.9vw;
    position: relative;
    width: 45vw;
  }
  
  .we-adapt-to-you {
    color: #333333;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 2.2vw;
    position: relative;
    white-space: nowrap;
  }
  
  .we-analyze-your {
    color: #858a8f;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 0.96rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 2.75vw;
    position: relative;
    width: 35vw;
  }
  
  .your-music-your {
    color: #333333;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 2.2vw;
    position: relative;
    white-space: nowrap;
  }
  
  .you-can-import-your {
    color: #858a8f;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 0.96rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 2.75vw;
    position: relative;
    width: 35vw;
  }
}

/* Media query for larger screens */
/* @media (min-width: 993px) {
  body {
    font-size: 16px;
  }
} */

.rectbox {
  position: relative;
  /* top: -10px; */
  margin-bottom: 10vh;
  /* margin-left: 10vw;
  margin-right: 10vw; */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* grid-template-columns: auto; */
  border: 0px none;
  height: auto;
  justify-self: center;
  /* overflow-x: hidden; */
  width: 80vw;
  margin-bottom: 10vw;
}

.rectangle {
  height: auto;
  position: relative;
  /* top: 450px; */
  width: 80vw;
  z-index: 1;
  /* grid-row: 1;
  grid-column: 1; */
  grid-column: 1/4;
}

.textthenbutton {
  display: grid;
  grid-template-columns: auto auto;
  /* align-items: center; */
  gap: 2vw;
  /* place-items: center; */
  /* grid-row: 1 /2 ; */
}

.rectangle .label2 {
  grid-row: 1/2;
}

.label2 {
  border: 0px none;
  height: auto;
  width: 43vw;
  /* top: 462px; */
  justify-self: left;  
  position: relative;
  z-index: 2;
  /* grid-row: 1; */
  grid-column: 2/-1;
}

.label2 .your-music-your2 {
  color: #333333;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 29px;
  position: relative;
}

.rectbox .consultationButton {
  background: linear-gradient(45deg, rgb(0, 157, 224) 0%, rgb(0, 166, 84) 100%);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid;
  border-color: transparent;
  border-radius: 7px;
  height: 53px;
  /* transform: translateY(50%); */
  position: relative;
  width: 23vw;
  /* left: 750px;
  top: -101px; */
  /* justify-self: right;
  align-self: center; */
  z-index: 3;
  /* right: 10vw; */
  grid-row: 1;
  grid-column: 1;
}

.consultationButton .no-credit-card {
  color: #ffffff;
  background: transparent;
  border-color: transparent;
  font-family: "Poppins-Medium", Helvetica;
  width: 176px;
  height: 53px;
  font-size: 22px;
  font-weight: 150;
  letter-spacing: 0;
  line-height: 22px;
  position: relative;
  white-space: nowrap;
  z-index: 7;
  cursor: pointer;
  /* right: 2vw; */
  /* justify-self: right; */
}

.deliveryProcess {
  border: 0px none;
  height: auto;
  position: relative;
  width: 100vw;
  display: grid;
  grid-template-rows: 10% 10% 1fr;
  justify-content: center;
  overflow: hidden;
}

/* .industries {
  position: relative;
  z-index: 10;

} */

/* .pageSplitLine {
  position: relative;
} */

.deliveryProcess .tboxes {
  height: 118px;
  /* left: 350px; */
  position: relative;
  /* top: -465px; */
  width: 613px;
  justify-self: center;

}

.deliveryProcess .contact-us-if-you {
  color: #858a8f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  /* left: 0; */
  letter-spacing: 0;
  line-height: 35px;
  position: relative;
  text-align: center;
  /* top: 83px; */
  white-space: nowrap;
  /* justify-self: center; */
}

/* change fonts or import later */

.deliveryProcess .leave-a-message {
  color: #333333;
  font-family: "Inter-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  /* left: 133px; */
  letter-spacing: 0;
  line-height: 58px;
  position: relative;
  /* justify-self: center; */
  text-align: center;
  /* top: 0; */
  white-space: nowrap;
}

.deliveryProcessPic {
  /* left: 300px; */
  /* top: -375px; */
  position: relative;
  justify-self: center;
}

.delivUnderline {
  position: relative;
  justify-self: center;
  /* left: 599px; */
  /* top: -377px; */
}

.industries {
  position: relative;
  display: grid;
  height: auto;
  width: 100vw;
  justify-content: center;
  grid-template-rows: auto auto auto;
  overflow: hidden;
}

.pageSplitLine {
  position: relative;
  /* top: -350px; */
  /* left: 77px; */
}

.industrytbox {
  border: 0px none;
  height: auto;
  /* overflow-x: hidden; */
  position: relative;
  width: 659px;
  z-index: 3;
  justify-self: center;
  /* left: 290px; */
  /* top: -340px; */
}

.industrytbox .itboxes {
  height: 153px;
  /* left: 0;
  position: absolute;
  top: 0px; */
  width: 663px;
  z-index: 7;
}

.industrytbox .contact-us-if-you {
  color: #858a8f;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  /* left: 0; */
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 83px;
  width: 659px;
}

.industrytbox .leave-a-message {
  color: #333333;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 40px;
  font-weight: 600;
  left: 228px;
  letter-spacing: 0;
  line-height: 58px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.indusUnderline {
  position: absolute;
  left: 300px;
  top: 87px;
}

.industryPic {
  position: relative;
  justify-self: center;
  /* left: 150px;
  top: 2400px; */
}

.clientsh {
  background-image: url(../assets/blueimg.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px none;
  height: auto;
  position: relative;
  display: grid;
  grid-template-rows: auto auto auto;
  justify-content: center;
  /* left: -90px; */
  /* top: -400px; */
  width: 100vw;
  z-index: 100;
  overflow: hidden;
  place-items: center;
}

.clientsh .our-fetaured-clients {
  color: #333333;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 58px;
  position: relative;
  /* justify-self: center; */
  white-space: nowrap;
}

.clientsh .clientBox {
  height: auto;
  justify-self: center;
  position: relative;
  width: fit-content;
}

.clientsh .rect {
  background-color: #0b67b3;
  border-radius: 2px;
  height: 7px;
  /* left: 555px; */
  position: relative;
  /* top: 15px; */
  width: 73px;
  transform: translateX(210%);
  top: -30px;
  /* left: 175px; */
}

.clientsh .clientLogos {
  height: auto;
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10vw;
  left: 0;
  position: relative;
  top: 0;
}

.clientsh .p1 {
  object-fit: cover;
  position: relative;
  justify-self: center;
  width: 17vw;
  height: auto;
  transform: translateY(75%);
}

.clientsh .p2 {
  object-fit: cover;
  position: relative;
  width: 17vw;
  height: auto;
}

.clientsh .p3 {
  object-fit: cover;
  position: relative;
  width: 11vw;
  height: auto;
}

.clientsh .p4 {
  position: relative;
  width: 17vw;
  height: auto;
}

/* .cpic {
  position: relative;
  left: -50px;
  top: -770px;
  z-index: 2;
} */

.casestudies {
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
  height: auto;
  gap: 200px;
  background: linear-gradient(135deg, #c5e0f7 0%, #ffffff 100%);
  place-items: center;
}

.caseUnderline {
  position: relative;
  left: 360px;
  top: 61px;
}

.headline-supporting {
  border: 1px none;
  height: auto;
  display: grid;
  grid-template-rows: auto auto auto;
  position: relative;
  /* top: 50px; */
  width: 800px;
}

.headline-supporting .headline {
  color: #272d37;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 40px;
  font-weight: 600;
  left: 0;
  letter-spacing: -0.8px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 800px;
}

.headline-supporting .subtitle {
  color: #5f6d7e;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: -0.1px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 74px;
  width: 800px;
}

.casesbox {
  border-color: #858a8f;
  background-color: transparent;
  border-radius: 20px;
  border: 2px;
  height: 500px;
  width: 1150px;
  position: relative;
  /* left: 55px; */
  /* top: 125px; */
  border-style: ridge;
}

.laptopbackground {
  border: 0px none;
  height: 419px;
  overflow: hidden;
  width: 610px;
  position: absolute;
  left: 57px;
  top: 41px;
  border-radius: 20px;
  box-shadow: 2px 2px lightgrey;
}

.laptopbackground .ltbg {
  height: 419px;
  left: 0;
  top: 0;
  width: 610px;
}

.ltpic {
  position: relative;
  z-index: 11;
  top: -365px;
  left: 95px;
}

.ptbox {
  border: 0px none;
  height: 372px;
  overflow-x: hidden;
  position: absolute;
  width: 439px;
  z-index: 10;
  left: 730px;
  top: 65px;
}

.ptbox .boxgroup {
  height: 272px;
  left: 0;
  position: absolute;
  top: 0;
  width: 443px;
}

.ptbox .gestalt-psychology {
  color: #272d37;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 25px;
  font-weight: 600;
  left: 0;
  letter-spacing: -0.27px;
  line-height: 30px;
  position: absolute;
  top: 0;
  width: 400px;
}

.ptbox .text-wrapper10 {
  color: #5f6d7e;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 0;
  letter-spacing: -0.1px;
  line-height: 24px;
  position: absolute;
  top: 80px;
  width: 350px;
}

.tag {
  align-items: center;
  border: 1px none;
  display: flex;
  gap: 50px;
  min-height: 45px;
  min-width: 351px;
  position: relative;
  width: 100%;
  left: 731px;
  top: 25px;
}

.tag .overlap-group-wrapper {
  height: 45px;
  position: relative;
  width: 125px;
}

.tag .iview {
  /* background-image: url(blob:https://www.figma.com/78f0a84c-565b-45c6-ba78-5709a2c64984);
  background-size: 100% 100%; */
  height: 30px;
  position: relative;
  width: 107px;
  top: 5px;
  border-style: solid;
  border-radius: 50px;
}

.tag .tw1 {
  color: #292930;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 17px;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
}

.tag .september {
  color: #292930;
  font-family: "Noto Sans-Medium", Helvetica;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2.02px;
  line-height: 23.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.learnmore {
  border: 0px none;
  height: 22px;
  width: 175px;
  position: relative;
  left: 755px;
  top: 307px;
  z-index: 25;
}

.learnclicked {
  color: #045a92c4;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 13px;
  font-weight: 540;
  left: -34px;
  letter-spacing: 0;
  line-height: 22px;
  position: relative;
  top: 0;
  white-space: nowrap;
  width: 100px;
  text-align: left;
  background-color: transparent;
  border-radius: 25px;
  border-color: transparent;
  cursor: pointer;
  z-index: 26;
}

.rarrow {
  position: relative;
  left: -55px;
  top: 6px;
  z-index: 20;
}

.dividerline {
  position: relative;
  left: 730px;
  top: 310px;
  width: 350px;
  overflow-x: hidden;
}

.casebutton {
  background: linear-gradient(45deg, rgb(0, 157, 224) 0%, rgb(0, 166, 84) 100%);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid;
  border-color: transparent;
  border-radius: 10px;
  height: 53px;
  position: relative;
  width: 173px;
  left: 730px;
  top: 325px;
  cursor: pointer;
}

.casebutton .all-case-study {
  color: #ffffff;
  background-color: transparent;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0px;
  letter-spacing: 0;
  line-height: 25.6px;
  position: relative;
  top: 2px;
  white-space: nowrap;
  text-align: left;
  width: 175px;
  height: 50px;
  border-radius: 10px;
  border-color: transparent;
  cursor: pointer;
}

.casebutton .vector {
  height: 14px;
  left: 140px;
  position: relative;
  top: -33px;
  width: 13px;
}

.toolsdivcomps {
  position: relative;
  /* top: 350px; */
}

.helpdiv {
  position: relative;
  height: auto;
  width: 100vw;
  display: grid;
  grid-template-rows: auto auto auto auto;
  gap: 10vw;
  place-items: center;
  /* top: -575px; */
  background-color: rgb(244, 244, 244);
}

.helptitle {
  border: 0px none;
  height: 73px;
  width: 369px;
}

.helptitle .we-re-here-to-help {
  color: #333333;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 40px;
  font-weight: 600;
  height: 73px;
  /* left: 460px; */
  letter-spacing: 0;
  line-height: 73px;
  position: relative;
  /* top: 75px; */
  white-space: nowrap;
}

.helpunderline {
  border: 0px none;
  height: 7px;
  width: 73px;
}

.helpunderline .recunder {
  background-color: #0b67b3;
  border-radius: 2px;
  height: 7px;
  /* left: 600px; */
  position: relative;
  /* top: 75px; */
  width: 73px;
}

.helptext {
  border: 0px none;
  height: 70px;
  width: 805px;
}

.helptext .contact-us-if-you {
  color: #858a8f;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  /* left: 250px; */
  letter-spacing: 0;
  line-height: 35px;
  position: relative;
  text-align: center;
  /* top: 70px; */
  width: 805px;
}

.helpbuttons {
  position: relative;
  /* top: 100px; */
  left: 30px;
}

.dropinus {
  position: relative;
  left: 15px;
}

.bookcons {
  position: relative;
  left: 30px;
}

.buttonoverlays {
  position: relative;
  top: 100px;
}

.emailbutton {
  position: relative;
  z-index: 1;
  top: -170px;
  left: 30px;
  width: 200px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  border-color: transparent;
}

.dropbutton {
  position: relative;
  z-index: 1;
  top: -170px;
  left: 235px;
  width: 175px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  border-color: transparent;
}

.bookbutton {
  position: relative;
  z-index: 1;
  top: -170px;
  left: 470px;
  width: 150px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  border-color: transparent;
}