@font-face {
    font-family: "Poppins-Regular";
    src: local("Poppins-Regular"),
        url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype")
}

.navbar, .menubar {
    width: 100%;
    height: 80px;
    background-color: #e0f0ff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #e6e6e6;
    display: flex;
    flex-direction: row;
    z-index: 500;
}

.navbar .leftSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 4.1%;
}

.navbar .leftSide img {
    width: 200px;
}

.navbar .rightSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a {
    color: #111827;
    text-decoration: none;
    margin: 20px;
    font-size: 14px;
}

.navbar .rightSide button {
    background-color: transparent;
    border: none;
    color: #111827;
    cursor: pointer;
}

.navbar .rightSide svg {
    font-size: 40px;
}

.navbar #open {
    padding-left: 0px;
}

.navbar #open img {
    display: none;
}

.navbar #close img {
    display: inherit;
}

.navbar #open .hiddenLinks {
    display: inherit;
    margin-left: 30px;
}

.navbar #close .hiddenLinks {
    display: none;
}

.navbar #open a {
    width: 70px;
    margin: 5px;
}

@media only screen and (max-width: 900px) {
    .navbar .rightSide a {
        width: 70px;
    }

    .navbar .leftSide {
        padding-left: 0px;
    }
}

@media only screen and (max-width: 600px) {
    .navbar .rightSide a {
        display: none;
    }

    .navbar .rightSide {
        justify-content: flex-end;
        /* padding-right: 3.33%; */
    }

    .navbar .rightSide button {
        display: inherit;
        margin: 20px;
    }

    .navbar .rightSide button img {
        width: 4vw;
    }

    .navbar .leftSide {
        padding-left: 0px;
    }

    .navbar .leftSide img {
        width: 140px;
    }

    .mobile-menu-window {
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background-color: #B9DBF7;
        color: white;
        z-index: 1000;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .menubar {
        z-index: inherit;
        background-color: #AAD5F9;
    }

    .menubarContent {
        padding: 0vw 5vw;
    }

    .item {
        color: #424242;
        text-align: left;
        font-family: "Poppins-SemiBold", Helvetica;
        font-size: 5vw;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 25.5px */
        letter-spacing: 0.17px;
        padding: 5vw 0vw;
    }

    .menubarDividerLine {
        width: 35vw;
        height: 1px;
        background-color: #9595956B;
        display: flex;
    }

    .menubarFooter {
        width: 100%;
        color: #878787;
        font-family: "Inter-Regular", Helvetica;
        font-size: 2.5vw;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 240% */
        letter-spacing: -0.1px;
        position: absolute;
        bottom: 0;
        text-align: center;
    }
}

@media only screen and (min-width: 600px) {
    .navbar .rightSide button {
        display: none;
    }

    .hiddenLinks {
        display: none;
    }
}